/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
  text-align: center;
}

ul {
  display: flex;
  gap: 5%;
  width: 40%;
  padding: 0;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.skills,
.saving-throws {
  font-weight: 800;
  font-size: 1.1em;
}

body {
  font-family: "Roboto", sans-serif; /* Classic book font */
  background-color: #f4f1e9; /* Light parchment color */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1000px;
  background-color: #fffceb; /* Slightly off-white for content */
  border: 5px solid #8b4513; /* Dark brown leather-like border */
  padding: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Gives a 3D effect */
  border-radius: 10px; /* Rounded edges for a polished look */
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-style {
  background-color: #f9f4e6;
  padding: 10px;
  border: 2px solid #aa5417;
  border-radius: 5px;
  margin: 10px 0;
  width: 60%;
  margin: 20px;
}

.container-danger {
  background-color: #f9f4e6;
  padding: 10px;
  border: 2px solid #ad0b0b;
  border-radius: 5px;
  margin: 10px 0;
  width: 60%;
  margin: 20px;
}

.container-unaligned {
  background-color: #f9f4e6;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px 0;
  width: 60%;
  margin: 20px;
}

.notes-container {
  display: flex;
  align-items: start;
  margin: 20px;
  gap: 20px;
}

.bestiary-added {
  margin: 20px;
}

.search-creature {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

h1 {
  font-size: 2.5em;
  margin: 16px 14px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2.5px solid #1b9af0;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notes-container button {
  border-color: green;
}

input {
  padding: 13px;
  width: 500px;
  height: 40px;
  font-size: 1.2em;
  margin: 0 30px;
  border: 0;
}

.bold-text {
  font-weight: 800;
}

.strong {
  font-weight: 700;
}

.special-abilities {
  margin: 20px 0px;
}

.abilities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.actions-container,
.legendary-actions-container {
  margin-bottom: 20px;
}

.specs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin: 0 0 5px 0;
}

.ability-name {
  font-style: italic;
}

.creature-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 25px;
}

.creature-name > button {
  border-color: orange;
  margin: 3px 0 0 30px;
}

.action-title,
.legendary-action-title {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.notes-display {
  font-size: 1.3em;
}

.border {
  border-top: #ad0b0b 2px solid;
  border-bottom: #ad0b0b 2px solid;
  padding: 35px 0px;
}

.attribute-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

ul,
ul h4 {
  margin: 0;
}

.display-creature {
  margin-bottom: 12px;
}

.display-notes {
  margin-left: 20px;
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
}

.monster-card {
  max-width: 20%;
  margin-top: 15px;
}
